<!DOCTYPE html>
<html>

<head>
    <title>All Follows</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
            text-align: center;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <a href='/csv'>Get CSV</a>
    <br>
    <table>
        <tr>
            <th>Brand</th>
            <th>Instagram Profile</th>
            <th>Title</th>
            <th>Follow Date & Time</th>
            <th>Posts</th>
            <th>Followers</th>
            <th>Following</th>
            <th>Description</th>
            <th>Link</th>
            <th>Is Private?</th>
        </tr>
        <% follows.forEach(function(f){ %>
        <tr>
            <td>
                <%= f.brand %>
            </td>
            <td>
                <%= f.handle %>
            </td>
            <td>
                <%= f.title || "" %>
            </td>
            <td>
                <%= f.followDateTime || "" %>
            </td>
            <td>
                <%= f.posts || "" %>
            </td>
            <td>
                <%= f.followers || "" %>
            </td>
            <td>
                <%= f.following || "" %>
            </td>
            <td>
                <%= f.description || "" %>
            </td>
            <td>
                <%= f.link || "" %>
            </td>
            <td>
                <%= f.isPrivate || "" %>
            </td>
        </tr>
        <% }) %>
    </table>
</body>

</html>